name: Development - Deploy static website

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: ap-south-1
  S3_BUCKET: "porfolioroshan"

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: development

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}
        
    - name: Copy files
      run: 
          aws s3 sync . s3://porfolioroshan --delete
